* {
    font-family: 'Roboto Mono', monospace;
}

.formulario-h1 {
    text-align: center;
    color: #8E9AAF;
    background-color: #FEEAFA;
    border-radius: 20px;
    font-family: 'Roboto Mono', monospace;
    line-height: 30px;
    padding: 20px;
}

.formulario {
    line-height: 30px;
    width: 400px;
    color: white;
    background-color: #8E9AAF;
    padding: 40px 40px 20px 40px;
    border-radius: 10px;
}

  .form-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
  }