.card {
    width: 400px;
    text-align: center;
    background-color: #8E9AAF;
    color: white;
    border-radius: 10px;
    line-height: 20px;
    margin: 30px;
    min-height: 530px;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-direction: column;
}

.card > h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

a:link,  a:visited {
    color: #8E9AAF;
    font-style: normal;
    text-decoration: none;
}