header {
    background-color: #8E9AAF;
    padding: 20px 10px;
    height: 220px;
    font-family: 'Roboto Mono', monospace;
  }
  
  #header-title {
    font-size: 50px;
  }
  
  .logo {
    width: 200px;
    position: absolute;
    margin-left: 20px;
  }
  
  .text-header {
    margin-top: 70px;
    margin-left: 280px;
    text-align: left;
    line-height: 30px;
  }
  